.pz-countdown {
  display: flex;
  width: 100%;
  max-width: 25em;
}
.pz-countdown .block {
  flex: 1;
  padding: 0.5em 0;
  text-align: center;
}
.pz-countdown .value {
  margin-bottom: 0.5em;
  font-size: 2em;
  font-weight: 200;
  color: #000;
}
.pz-countdown .unit {
  font-size: 0.75em;
  font-weight: 400;
  color: #999;
}
@media screen and (min-width: 360px) {
  .pz-countdown .value {
    font-size: 2.25em;
  }
  .pz-countdown .unit {
    font-size: 0.85em;
  }
}
@media screen and (min-width: 360px) {
  .pz-countdown .value {
    font-size: 2.5em;
  }
  .pz-countdown .unit {
    font-size: 0.9375em;
  }
}
